<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.95.3" targetFramework="net40-Client" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net40-Client" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net40-Client" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net40-Client" />
  <package id="IronOcr" version="4.4.0" targetFramework="net40-Client" />
  <package id="IronOcr.Languages.Spanish" version="4.4.4.1" targetFramework="net40-Client" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net40-Client" />
  <package id="log4net" version="2.0.8" targetFramework="net40-Client" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net40-Client" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net40-Client" />
  <package id="Selenium.WebDriver.ChromeDriver" version="78.0.3904.7000" targetFramework="net40-Client" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1" targetFramework="net40-Client" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40-Client" />
</packages>